[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
#WorkingDirectory=/home/ubuntu/petfacts/petfactsAPI/petfactsAPI
WorkingDirectory=/home/ubuntu/www/petfacts
ExecStart=/home/ubuntu/www/flask/bin/gunicorn --access-logfile /home/ubuntu/www/petfacts/logs/gunicorn-error.log --workers 3 --bind unix:/home/ubuntu/www/petfacts.sock wsgi:application

[Install]
WantedBy=multi-user.target
